.switch {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 53px;
  margin-bottom: 8px;
}



.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(244, 244, 244);
  border-radius: 36px;
  color: black;
  transition: 0.4s;

}



.slider:before {
  position: absolute;
  content: '';
  height: 47px;
  width: 100px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 36px;
}


input:checked + .slider{
  background-color: rgb(244, 244, 244);
}

input:checked + .slider:before{
  transform: translateX(113px);
}

.pcomprar{
  position: absolute;
  left: 21px;
  top: 20px;
  cursor: pointer;
}
.pcomprar:hover{
  color: #476ADE;
  
}
.pvender{
  position: absolute;
  right: 28px;
  top: 20px;
  cursor: pointer;
}
.pvender:hover{
  color: #476ADE;
}
.pcompraractive{
  position: absolute;
  left: 21px;
  top: 20px;
  color:#476ADE;
}

.pvenderactive{
  position: absolute;
  right: 28px;
  top: 20px;
  color:#476ADE;
}

/* test */


