.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 60px;
    margin-bottom: 17px;
  }
  
  
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  
  .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(221, 221, 221);
    border-radius: 36px;
    color: black;
    transition: 0.4s;
    height: 55px;
  
  }
  
  
  
  .slider:before {
    position: absolute;
    content: '';
    height: 45px;
    width: 50%;
    left: 4px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 36px;
  }
  
  
  input:checked + .slider{
    background-color: rgb(221, 221, 221);
  }
  
  input:checked + .slider:before{
    transform: translateX(178px);
  }
  
  .pcomprar{
    position: absolute;
    left: 55px;
    top: 18px;
    cursor: pointer;
  }
  .pcomprar:hover{
    color: #476ADE;
    
  }
  .pvender{
    position: absolute;
    right: 55px;
    top: 18px;
    cursor: pointer;
  }
  .pvender:hover{
    color: #476ADE;
  }
  .pcompraractive{
    position: absolute;
    left: 55px;
    top: 18px;
    color:#476ADE;
  }
  
  .pvenderactive{
    position: absolute;
    right: 55px;
    top: 18px;
    color:#476ADE;
  }
  